### Preprocessamento

In [1]:
import numpy as np
import pandas as pd

##### Importando a base

In [2]:
df = pd.read_csv("data/breast-cancer-problemas.data", sep=',', header=None)
df.drop(0, axis='columns', inplace=True)

#### Simples exploração dos dados

In [3]:
df[:5]

  1  2  3  4  5   6   7  8  9   10
0  5  1  1  1  2   1   3  1  1   2
1  5  4  4  5  7  10   3  2  1   2
2  3  1  1  1  -   2   3  1  1   2
3  6  8  8  1  3   4   3  -  1   2
4  4  1  1  3  2   1   3  1  1   2

## Iniciando Preprocessamento

### Transformando todos os '-' em Nan

In [4]:
df.replace('-', np.nan, inplace=True)
df.replace('?', np.nan, inplace=True)

In [5]:
df[:5]

  1  2  3  4    5   6   7    8  9   10
0  5  1  1  1    2   1   3    1  1   2
1  5  4  4  5    7  10   3    2  1   2
2  3  1  1  1  NaN   2   3    1  1   2
3  6  8  8  1    3   4   3  NaN  1   2
4  4  1  1  3    2   1   3    1  1   2

### Removendo Ids e transformando todos os atributos em numeros

In [6]:
df = df.apply(lambda x: pd.to_numeric(x, downcast='integer'))

In [7]:
df.describe()

,1,2,3,4,5,6,7,8,9,10
count,694.000000,692.000000,689.000000,691.000000,698.000000,683.000000,699.000000,689.000000,696.000000,699.000000
mean,4.412104,3.135838,3.224964,2.804631,3.217765,3.544656,3.437768,2.873730,1.591954,2.689557
std,2.812603,3.048387,2.984001,2.853075,2.215408,3.643857,2.438364,3.056164,1.718337,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,3.500000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [8]:
df.dtypes

1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7        int8
8     float64
9     float64
10       int8
dtype: object

### Transformando todo os valores missing

In [9]:
df_mean = df.fillna(df.mean())

df_mode = df.fillna(df.mode().squeeze())

df_dropna = df.dropna(axis='index', how='any')

## Salvando dataframes

In [10]:
df_mean.to_csv("preprocessamento/data_mean.data", sep=',', header=None)
df_mode.to_csv("preprocessamento/data_mode.data", sep=',', header=None)
df_dropna.to_csv("preprocessamento/data_dropna.data", sep=',', header=None)